################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Debug
/x64/Release
*.rc
/Images
/shape_predictor_68_face_landmarks.dat
/python27.dll
/opencv_world420.dll
/idealRef.yml
/idealRef.png
